<ul class="wrapper">
  <li class="icon play" *ngIf="this.viewBtn.start" (click)="simulationStart()">
    <span class="tooltip">Start</span>
    <span class="material-symbols-rounded"> play_arrow </span>
  </li>
  <li
    class="icon play"
    *ngIf="this.viewBtn.resume"
    (click)="simulationResume()"
  >
    <span class="tooltip">Weiter</span>
    <span class="material-symbols-rounded"> play_arrow </span>
  </li>
  <li class="icon pause" *ngIf="this.viewBtn.pause" (click)="simulationPause()">
    <span class="tooltip">Pause</span>
    <span class="material-symbols-rounded"> pause </span>
  </li>
  <li class="time">
    <span>{{ time | timeOutput }}</span>
  </li>
  <li class="icon reset" *ngIf="this.viewBtn.reset" (click)="simulationReset()">
    <span class="tooltip">Reset</span>
    <span class="material-symbols-rounded"> stop </span>
  </li>
  <li class="distance">
    <span>Crane: {{ craneDistance * 0.7 | number: '1.0-0' }} m</span>
  </li>
  <li class="distance">
    <span>Wait: {{ waitingTime | timeOutput }}</span>
  </li>
</ul>
