* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bahnschrift;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 25px;
  border: 1px solid #eee;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
  transform: translate(0, 10%);
}

.wrapper .time {
  position: relative;
  background: #fff;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
  width: 120px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  font-variant-numeric: tabular-nums;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -35px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .play:hover,
.wrapper .play:hover .tooltip,
.wrapper .play:hover .tooltip::before {
  background: #259e00;
  color: #ffffff;
}

.wrapper .pause:hover,
.wrapper .pause:hover .tooltip,
.wrapper .pause:hover .tooltip::before {
  background: #c9b500;
  color: #ffffff;
}

.wrapper .reset:hover,
.wrapper .reset:hover .tooltip,
.wrapper .reset:hover .tooltip::before {
  background: #c91e00;
  color: #ffffff;
}
