<div class="title_container">
  <div class="logo">
    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181 168">
      <title>MarquardtGroup-Logo-CIColor-on-Transparent-svg</title>
      <style>
        .s0 { fill: #009898 }
      </style>
      <g id="Ebene 1">
        <g id="g9">
          <path
            id="path29"
            fill-rule="evenodd"
            class="s0"
            d="m122 125.9c2 6 5 17 5 17 0 0-75 23-83 25-30-18-48-54-43-92 4-22 15-41 32-56 22-18 52-24 81-17 24 6 46 23 57 46 15 29 13 72-9 98-7 8-15 15-25 21-3-5-7-11-9-15 13-9 26-22 31-38 9-26 2-57-18-76-10-10-18-16-34-20-15-2-32-1-45 5-25 11-43 37-44 65 0 23 11 45 29 59z"
          />
          <path
            id="path31"
            fill-rule="evenodd"
            class="s0"
            d="m101 89.9h-19v-27c0-2-3-5-5-7-4-2-9-2-12 0-3 1-4 3-5 6-1 18-1 46-1 56h-18v-58c1-11 9-19 19-22 10-3 23-2 30 6 6-4 13-8 21-8h1c10 0 20 6 25 15 3 6 4 12 4 18v49h-18v-54c-1-5-4-7-8-9-4-1-12-1-14 7z"
          />
        </g>
      </g>
    </svg>
  </div>
  <div class="title">{{ this.silberAnlage.name }} simulation</div>
</div>
<!--<h1>{{ this.silberAnlage.name }} simulation</h1>-->
<div>
  <button (click)="simulationStart()" *ngIf="this.viewBtn.start">Start</button>
  <button (click)="simulationPause()" *ngIf="this.viewBtn.pause">Pause</button>
  <button (click)="simulationResume()" *ngIf="this.viewBtn.resume">
    Resume
  </button>
  <code>
    {{ getSimulationTime() }}
  </code>
  <button (click)="simulationReset()" *ngIf="this.viewBtn.reset">Reset</button>
</div>
<!--<div [innerHtml]="this.renderingOutput"></div>-->
<div [innerHtml]="renderOutput()"></div>
